In [152]:
import numpy as np
import pandas as pd

In [153]:
#every data in the csv
experiment_data = pd.read_csv("idr0042-experimentA-annotation.csv")
experiment_data.head()
#print(experiment_data.columns)

,Dataset Name,Image Name,Characteristics [Organism],Term Source 1 REF,Term Source 1 Accession,Characteristics [Organism Part],Term Source 2 REF,Term Source 2 Accession,Characteristics [Diagnosis],Term Source 3 REF,...,Characteristics [Ethnic or Racial Group],Term Source 6 REF,Term Source 6 Accession,Characteristics [Age],Characteristics [Individual],Characteristics [Clinical History],Protocol REF,Protocol REF.1,Experimental Condition [Diagnosis],Channels
0,training,33381_0_fal_10_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
1,training,33381_0_fal_14_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
2,training,33381_0_fal_16_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
3,training,33381_0_fal_18_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
4,training,33381_0_fal_25_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB

In [154]:
#only needed features, with better columnnames
medical_data = experiment_data[["Dataset Name", "Image Name", "Characteristics [Diagnosis]", "Characteristics [Disease Subtype]", "Characteristics [Sex]", "Characteristics [Ethnic or Racial Group]", "Characteristics [Age]", "Characteristics [Individual]","Characteristics [Clinical History]"]]

medical_data=medical_data.rename(columns={"Characteristics [Diagnosis]": "Diagnosis","Characteristics [Disease Subtype]":"Disease Subtype", "Characteristics [Sex]":"Sex", "Characteristics [Ethnic or Racial Group]":"Ethnic or Racial Group", "Characteristics [Age]":"Age", "Characteristics [Individual]":"Patient Id", "Characteristics [Clinical History]":"Clinical History" })
medical_data.head()

,Dataset Name,Image Name,Diagnosis,Disease Subtype,Sex,Ethnic or Racial Group,Age,Patient Id,Clinical History
0,training,33381_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
1,training,33381_0_fal_14_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
2,training,33381_0_fal_16_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
3,training,33381_0_fal_18_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
4,training,33381_0_fal_25_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy

In [155]:
#flag
#does something but not yet corrctly
#remove nan Aged patients
medical_data.head()
#print("#######################");
#medical_data[medical_data["Age"] == "nan11"].head()
#medical_data.drop(medical_data[medical_data["Age"] == "nan11"])
medical_data= medical_data.dropna(subset=["Age", "Sex"])
medical_data.head()

,Dataset Name,Image Name,Diagnosis,Disease Subtype,Sex,Ethnic or Racial Group,Age,Patient Id,Clinical History
0,training,33381_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
1,training,33381_0_fal_14_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
2,training,33381_0_fal_16_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
3,training,33381_0_fal_18_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
4,training,33381_0_fal_25_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy

In [156]:

myset = {''}
medical_data["Age"]=medical_data["Age"].apply(lambda x: float(str(x).split(" ")[0]))
for line in medical_data["Age"]:
    myset.add(type(line))
print(myset)
medical_data.head()

{'', <class 'float'>}

,Dataset Name,Image Name,Diagnosis,Disease Subtype,Sex,Ethnic or Racial Group,Age,Patient Id,Clinical History
0,training,33381_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65.0,33381,ischemic cardiomyopathy
1,training,33381_0_fal_14_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65.0,33381,ischemic cardiomyopathy
2,training,33381_0_fal_16_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65.0,33381,ischemic cardiomyopathy
3,training,33381_0_fal_18_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65.0,33381,ischemic cardiomyopathy
4,training,33381_0_fal_25_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65.0,33381,ischemic cardiomyopathy

In [157]:
medical_data[medical_data["Age"] == "nan11"]

Empty DataFrame
Columns: [Dataset Name, Image Name, Diagnosis, Disease Subtype, Sex, Ethnic or Racial Group, Age, Patient Id, Clinical History]
Index: []

In [158]:
unique_medical_data = medical_data.drop_duplicates(subset=['Patient Id'])
unique_medical_data.head()

,Dataset Name,Image Name,Diagnosis,Disease Subtype,Sex,Ethnic or Racial Group,Age,Patient Id,Clinical History
0,training,33381_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65.0,33381,ischemic cardiomyopathy
11,training,33382_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,Caucasian,62.0,33382,ischemic cardiomyopathy
22,training,33383_0_fal_11_0.png,chronic heart failure,ischemic cardiomyopathy,male,Caucasian,61.0,33383,ischemic cardiomyopathy
33,training,33385_0_fal_12_0.png,chronic heart failure,ischemic cardiomyopathy,male,Caucasian,54.0,33385,ischemic cardiomyopathy
44,training,33387_0_fal_11_0.png,chronic heart failure,ischemic cardiomyopathy,female,Unknown racial group,65.0,33387,ischemic cardiomyopathy

In [159]:
%store medical_data
%store unique_medical_data

Stored 'medical_data' (DataFrame)
Stored 'unique_medical_data' (DataFrame)

In [160]:
medical_data["Age"]

0       65.0
1       65.0
2       65.0
3       65.0
4       65.0
        ...
2294    53.0
2295    53.0
2296    53.0
2297    53.0
2298    53.0
Name: Age, Length: 2277, dtype: float64