In [2]:
import numpy as np
import pandas as pd

In [3]:
experiment_data = pd.read_csv("idr0042-experimentA-annotation.csv")
experiment_data.head()

,Dataset Name,Image Name,Characteristics [Organism],Term Source 1 REF,Term Source 1 Accession,Characteristics [Organism Part],Term Source 2 REF,Term Source 2 Accession,Characteristics [Diagnosis],Term Source 3 REF,...,Characteristics [Ethnic or Racial Group],Term Source 6 REF,Term Source 6 Accession,Characteristics [Age],Characteristics [Individual],Characteristics [Clinical History],Protocol REF,Protocol REF.1,Experimental Condition [Diagnosis],Channels
0,training,33381_0_fal_10_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
1,training,33381_0_fal_14_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
2,training,33381_0_fal_16_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
3,training,33381_0_fal_18_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB
4,training,33381_0_fal_25_0.png,Homo sapiens,NCBITaxon,NCBITaxon_9606,heart,UBERON,UBERON_0000948,chronic heart failure,SNOMED,...,African American,SNOMED,SNOMED_S-62310,65 years,33381,ischemic cardiomyopathy,treatment protocol,image acquisition,chronic heart failure,RGB

In [4]:
# only needed features, with better columnnames
medical_data = experiment_data[
    [
        "Dataset Name",
        "Image Name",
        "Characteristics [Diagnosis]",
        "Characteristics [Disease Subtype]",
        "Characteristics [Sex]",
        "Characteristics [Ethnic or Racial Group]",
        "Characteristics [Age]",
        "Characteristics [Individual]",
        "Characteristics [Clinical History]",
    ]
]

medical_data = medical_data.rename(
    columns={
        "Characteristics [Diagnosis]": "Diagnosis",
        "Characteristics [Disease Subtype]": "Disease Subtype",
        "Characteristics [Sex]": "Sex",
        "Characteristics [Ethnic or Racial Group]": "Ethnic or Racial Group",
        "Characteristics [Age]": "Age",
        "Characteristics [Individual]": "Patient Id",
        "Characteristics [Clinical History]": "Clinical History",
    }
)
medical_data.head()

,Dataset Name,Image Name,Diagnosis,Disease Subtype,Sex,Ethnic or Racial Group,Age,Patient Id,Clinical History
0,training,33381_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
1,training,33381_0_fal_14_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
2,training,33381_0_fal_16_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
3,training,33381_0_fal_18_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
4,training,33381_0_fal_25_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy

In [7]:
medical_data

,Dataset Name,Image Name,Diagnosis,Disease Subtype,Sex,Ethnic or Racial Group,Age,Patient Id,Clinical History
0,training,33381_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
1,training,33381_0_fal_14_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
2,training,33381_0_fal_16_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
3,training,33381_0_fal_18_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
4,training,33381_0_fal_25_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65 years,33381,ischemic cardiomyopathy
...,...,...,...,...,...,...,...,...,...
2294,test,36175_1_nrm_18_0.png,not chronic heart failure,NaN,female,Caucasian,53 years,36175,normal cardiovascular function by cardiac cath...
2295,test,36175_1_nrm_1_0.png,not chronic heart failure,NaN,female,Caucasian,53 years,36175,normal cardiovascular function by cardiac cath...
2296,test,36175_1_nrm_20_0.png,not chronic heart failure,NaN,female,Caucasian,53 years,36175,normal cardiovascular function by cardiac cath...
2297,test,36175_1_nrm_21_0.png,not chronic heart failure,NaN,female,Caucasian,53 years,36175,normal cardiovascular function by cardiac cath...
2298,test,36175_1_nrm_2_0.png,not chronic heart failure,NaN,female,Caucasian,53 years,36175,normal cardiovascular function by cardiac cath...

In [8]:
medical_data.dropna(subset=["Age", "Sex"], inplace=True)

In [12]:
medical_data["Age"] = medical_data["Age"].apply(lambda x: x.split(" ")[0]).astype(int)

In [14]:
unique_medical_data = medical_data.drop_duplicates(subset=["Patient Id"])
unique_medical_data.head()

,Dataset Name,Image Name,Diagnosis,Disease Subtype,Sex,Ethnic or Racial Group,Age,Patient Id,Clinical History
0,training,33381_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,African American,65,33381,ischemic cardiomyopathy
11,training,33382_0_fal_10_0.png,chronic heart failure,ischemic cardiomyopathy,male,Caucasian,62,33382,ischemic cardiomyopathy
22,training,33383_0_fal_11_0.png,chronic heart failure,ischemic cardiomyopathy,male,Caucasian,61,33383,ischemic cardiomyopathy
33,training,33385_0_fal_12_0.png,chronic heart failure,ischemic cardiomyopathy,male,Caucasian,54,33385,ischemic cardiomyopathy
44,training,33387_0_fal_11_0.png,chronic heart failure,ischemic cardiomyopathy,female,Unknown racial group,65,33387,ischemic cardiomyopathy

In [15]:
%store medical_data
%store unique_medical_data

Stored 'medical_data' (DataFrame)
Stored 'unique_medical_data' (DataFrame)

In [16]:
# load UMAP embeddings
train_embedding = np.load("train_embedding.npy")
test_embedding = np.load("test_embedding.npy")

In [17]:
features_train = pd.read_csv("features/features_train_clean.csv")
features_test = pd.read_csv("features/features_test_clean.csv")

In [19]:
train_embedding_df = pd.DataFrame(train_embedding, columns=['x','y'])
test_embedding_df = pd.DataFrame(test_embedding, columns=['x','y'])

In [20]:
train_embedding_filename = pd.concat([features_train[['filename']], train_embedding_df], axis=1)
test_embedding_filename = pd.concat([features_test[['filename']], test_embedding_df], axis=1)

In [22]:
train_embedding_filename['filename'] = train_embedding_filename['filename'].apply(lambda x: x.split('/')[1])
test_embedding_filename['filename'] = test_embedding_filename['filename'].apply(lambda x: x.split('/')[1])

In [23]:
train_embedding_filename

                  filename          x          y
0     33544_0_fal_12_0.png  17.328356   6.890578
1     33544_0_fal_17_0.png  14.834268  11.516161
2     33544_0_fal_18_0.png  15.553170  11.326067
3     33544_0_fal_10_0.png  17.477880   6.740102
4     33544_0_fal_13_0.png  15.518093   7.284802
...                    ...        ...        ...
1819  33542_0_fal_16_0.png  17.150949   7.900688
1820  33542_0_fal_14_0.png  16.632141   6.604039
1821   33542_0_fal_1_0.png  17.397873   6.682190
1822  33542_0_fal_10_0.png  16.612770   6.601458
1823  33542_0_fal_18_0.png  16.827534   8.645586

[1824 rows x 3 columns]

In [24]:
train_test_embedding_filename = pd.concat([train_embedding_filename, test_embedding_filename])

In [25]:
train_test_embedding_filename

                 filename          x          y
0    33544_0_fal_12_0.png  17.328356   6.890578
1    33544_0_fal_17_0.png  14.834268  11.516161
2    33544_0_fal_18_0.png  15.553170  11.326067
3    33544_0_fal_10_0.png  17.477880   6.740102
4    33544_0_fal_13_0.png  15.518093   7.284802
..                    ...        ...        ...
443  33482_0_fal_12_0.png  15.880318   6.760099
444  33482_0_fal_15_0.png  16.058105   6.610201
445  33482_0_fal_17_0.png  15.939569   6.470349
446   33482_0_fal_1_0.png  14.915277   7.487192
447  33482_0_fal_16_0.png  16.955946   6.301167

[2272 rows x 3 columns]

In [26]:
medical_data_embedding = pd.merge(train_test_embedding_filename, medical_data, left_on='filename', right_on='Image Name')

In [28]:
medical_data_embedding.to_csv('medical_data_embedding.csv', index=False)