In [1]:
import numpy as np
import umap
import pandas as pd

In [2]:
# experiment name: resnet152_nirschl_20190911-111317
features_train = pd.read_csv("features/features_train_clean.csv")
features_test = pd.read_csv("features/features_test_clean.csv")

In [3]:
features_train.head()

,filename,1,2,3,4,5,6,7,8,9,...,969,970,971,972,973,974,975,976,977,label
0,0/33544_0_fal_12_0.png,0.646023,0.0,0.548450,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.781586,0.370914,0.595375,0.215742,0.852217,0.0,0.007670,0.0,0.351237,0
1,0/33544_0_fal_17_0.png,1.014287,0.0,0.626057,0.707639,0.089202,0.000000,0.000000,0.019566,0.06764,...,1.266571,0.000000,0.000000,0.965542,0.009766,0.0,0.136514,0.0,0.264849,0
2,0/33544_0_fal_18_0.png,0.766995,0.0,0.175496,0.400164,0.028296,0.000000,0.020336,0.000000,0.00000,...,0.722120,0.000000,0.053385,0.786805,0.000000,0.0,0.205054,0.0,0.035473,0
3,0/33544_0_fal_10_0.png,0.022876,0.0,0.611003,0.008310,0.150685,0.386474,0.000000,0.000000,0.00000,...,0.449772,0.000000,0.111770,0.207036,0.815461,0.0,0.226630,0.0,0.000000,0
4,0/33544_0_fal_13_0.png,0.795112,0.0,1.155828,0.498418,0.525433,0.000000,0.000000,0.036858,0.00000,...,0.790252,0.148496,0.000000,0.865131,0.690153,0.0,0.000000,0.0,0.411627,0

In [4]:
features_test.head()

,filename,1,2,3,4,5,6,7,8,9,...,969,970,971,972,973,974,975,976,977,label
0,0/33550_0_fal_32_0.png,0.632956,0.0,0.690343,0.093129,0.378777,0.000000,0.0,0.0,0.000000,...,0.638612,0.120124,0.025838,0.442518,0.663082,0.0,0.000000,0.0,0.613811,0
1,0/33550_0_fal_33_0.png,0.969749,0.0,0.697840,0.134453,0.461785,0.000000,0.0,0.0,0.000000,...,0.849103,0.000000,0.546426,0.322341,0.839374,0.0,0.005378,0.0,0.440764,0
2,0/33550_0_fal_15_0.png,0.695140,0.0,0.828014,0.462300,0.584252,0.052451,0.0,0.0,0.000000,...,0.542614,0.000000,0.000000,0.589862,0.344919,0.0,0.261044,0.0,0.042069,0
3,0/33550_0_fal_35_0.png,0.554491,0.0,0.677627,0.000000,0.000000,0.197005,0.0,0.0,0.068628,...,0.755464,0.000000,0.218999,0.025332,0.338357,0.0,0.141055,0.0,0.285640,0
4,0/33550_0_fal_5_0.png,0.648289,0.0,0.605841,0.488126,0.000000,0.000000,0.0,0.0,0.280967,...,0.878714,0.000000,0.286493,0.479262,0.350941,0.0,0.000000,0.0,0.284746,0

In [5]:
train_data = features_train.drop(["filename", "label"], axis=1)
test_data = features_test.drop(["filename", "label"], axis=1)

In [6]:
mapper = umap.UMAP(n_neighbors=40, min_dist=0.01, n_components=2,
                   metric='euclidean', verbose=True).fit(train_data)

UMAP(min_dist=0.01, n_neighbors=40, verbose=True)
Construct fuzzy simplicial set
Tue Dec 22 19:54:45 2020 Finding Nearest Neighbors
Tue Dec 22 19:54:47 2020 Finished Nearest Neighbor Search
Tue Dec 22 19:54:50 2020 Construct embedding
	completed  0  /  500 epochs
	completed  50  /  500 epochs
	completed  100  /  500 epochs
	completed  150  /  500 epochs
	completed  200  /  500 epochs
	completed  250  /  500 epochs
	completed  300  /  500 epochs
	completed  350  /  500 epochs
	completed  400  /  500 epochs
	completed  450  /  500 epochs
Tue Dec 22 19:54:54 2020 Finished embedding

In [7]:
test_embedding = mapper.transform(test_data)

	completed  0  /  100 epochs
	completed  10  /  100 epochs
	completed  20  /  100 epochs
	completed  30  /  100 epochs
	completed  40  /  100 epochs
	completed  50  /  100 epochs
	completed  60  /  100 epochs
	completed  70  /  100 epochs
	completed  80  /  100 epochs
	completed  90  /  100 epochs

In [8]:
test_embedding.shape

(448, 2)

In [9]:
mapper.embedding_.shape

(1824, 2)

In [10]:
np.save("test_embedding.npy", test_embedding)
np.save("train_embedding.npy", mapper.embedding_)